{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <div class="msg_accueil">
        <h1>Bienvenue</h1>
    </div>

    <div class="dernier_prd">
        <h2>Les 5 derniers produits</h2>   
    </div>
        
    <div class="cinq-prd">
        {% for produit in produit %}
            <div class="produit">
             <a href=" {{ path ('info-produit', {id : produit.id}) }}">
                <img src="{{ asset(produit.image) }}" alt="{{ produit.nom }}">
                </a>
                <h3>{{ produit.nom }}</h3>
                <p>{{ produit.description }}</p>
            </div>
        {% endfor %}
    </div>

{% endblock %}
