{% extends 'base.html.twig' %}

{% block title %}info produit{% endblock %}

{% block body %}


    <h1>Informations du produit</h1>

    <div class="product-info">

        <div class="product-details">

            <p><strong>Nom produit : {{ produit.nom }}</p>
            <p><strong>Description produit </strong> {{ produit.description }}</p>
            <p><strong>stock actuelle</strong> {{ produit.stock }}</p>
        </div>
        
        <div class="product-image-infos">
            {% if produit.image %}
                <img src="{{ asset(produit.image) }}" alt="Image du produit {{ produit.nom }}">
            {% else %}
                <p>Aucune image disponible pour ce produit.</p>
            {% endif %}
        </div>
    </div>



{% endblock %}
