{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Informations du produit</h1>
    <div class="product-info">
        <div class="product-details">
            <p><strong>Nom du produit :</strong> {{ produit.nom }}</p>
            <p><strong>Description du produit :</strong> {{ produit.description }}</p>
            <p><strong>Nombre actuellement en stock :</strong> {{ produit.stock }}</p>
        </div>
        <div class="product-image-infos">
            {% if produit.image %}
                <img src="{{ asset(produit.image) }}" alt="Image du produit {{ produit.nom }}">
            {% else %}
                <p>Aucune image disponible pour ce produit.</p>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}
